
<div class="container center">
<div class="row justify-content-center">

<div class="row">

  <div class="col-md-6">
    <%= image_tag(@event.picture_url, class:"event_poster") if @event.picture.present? %>
  </div>
  
  <div class="col-md-3">
    <p><b>Name: </b><%= @event.name %></p>
    <p><b>Description: </b><%= @event.description %></p>
    <p><%= link_to 'Back to Events', events_path %></p>    
  </div> 
  
</div>

</div>

<h3>Comments</h3>

<% @comments.each do |comment| %>
  <div>
   
    <strong><%= comment.user_name %></strong>
    <br>
   
    <p><%= comment.body %></p>
   
    <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
  <% end %>
  <%= render partial: 'comments/form', locals: { comment: @comment } %>
  
</div>

